# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Intellij stuff
.idea
*.iml

# dependencies
node_modules

# for security reasons
configuration/token_config
configuration/serverToken.json

# ignore compiled code
dist/
